:root {
  /* --background: #ffffff;
  --foreground: #171717;
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05); */

  --color-1: #ffbf00;
  --color-2: #f07f21;
  --banner-color: #517e92;
  --success-color: #4bb543;
  --h1: 3rem;
  --h2: 2.5rem;
  --h3: 2rem;
  --h4: 1.4rem;
  --p1: 1.3rem;
  --p2: 1.1rem;
  --p3: 1.05rem;
  --p4: 1rem;
  --i1: 2rem;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
