.contact {
  width: 100%;
  padding: 0 2rem 4rem;
  box-sizing: border-box;
  background-color: #868686;
}

.contact .intro {
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("/contact-abstract.png");
  background-size: cover;
  background-position: center; */
  padding: 4rem 2rem;
}

.intro-content {
  max-width: 65rem;
  width: 100%;
  color: white;
}

.contact .intro header {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-align: center;
}

.contact .intro p {
  line-height: 2;
}

.contact-info {
  width: 100%;
  justify-content: center;
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
  margin-top: 3.5rem;
}

.contact-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 180px;
  width: 15rem;
  align-items: center; /* Center icons and text horizontally */
  text-align: center; /* Ensure text is centered under icon */
}

.contact-column svg {
  margin-bottom: 0.5rem;
}

.contact-column p {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .contact-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.contact-images {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.contact-images img {
  border-radius: 0.5rem;
  object-fit: cover;
}




/* Message Form */
.message-form {
  margin-top: 4rem;
}

.message-form h2 {
  font-size: 1.75rem;
  margin-bottom: 4.5rem;
  text-align: center;
}

.message-form form {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}

.message-form form > div {
  flex: 1 1 calc(50% - 1rem);
  min-width: 250px;
}

.message-form .submit {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
}

.message-form .submit button {
  background-color: #f85c70;
  color: white;
  border: none;
  padding: 0.6rem 2rem;
  border-radius: 0.4rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.message-form .submit button:hover {
  background-color: #1f4d22;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .contact .intro {
    flex-direction: column;
    text-align: center;
  }

  .contact .intro aside div {
    justify-content: center;
  }

  .message-form form > div {
    flex: 1 1 100%;
  }
}
